/*region*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: white;
}
html{
    scroll-behavior: smooth;
}
.content{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
b{
    color: var(--consul-blue);
}
p{
    font-size: 15px;
}
h1{
    width: 90%;
    font-size: 50px;    
}
h2{
    font-size: 16px;
    font-weight: 510;
}
img{
    width: 40px;
    height: 40px;
}
button, h3{
    font-size: 20px;
    font-weight: bold;
}
nav .selected, p.selected{
    cursor: pointer;
    color: var(--consul-blue) !important;
}
#services .selected{
    border-bottom: 5px solid var(--consul-blue);
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section p{
    color: var(--consul-gray);
    font-size: 20px;
}
section h3{
    color: var(--consul-blue);
}   
section h2{
    color: black;
    font-size: 34px;
    font-weight: bold;
}
.button-two{
    background-color: transparent;
    border: 4px solid white;
    padding: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s;
}
.button-two:hover{
    border: 4px solid var(--consul-blue);
    color: var(--consul-blue);
    background-color: white;
}
.button-one{
    background-color: var(--consul-blue);
    border: none;
    padding: 10px;
    width: 200px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s;
}
.button-one:hover{
    box-shadow: 0px 0px 10px gray;
}
.button-one:after{
    color: var(--consul-blue);
    transition: all .2s;
    background-color: white;
    content: 'Marcar consulta';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-one:hover:after{
    bottom: 0;
}
.logo{
    display: flex;
    align-items: center;
}
.logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo p{
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}
#header-two .content #mobile-menu{
    display: none;
}

/*endregion*/

/*region*/

header #header-one{
    background-color: var(--consul-blue);
    width: 100%;
    height: 65px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
header #header-one .content #contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

header #header-one .content #contact img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
header #header-one .content #contact p:nth-child(2){
    margin-right: 15px;
}
header #header-one .content #contact p:nth-child(3){
    font-weight: bold;
    cursor: pointer;
}
header #header-two{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #header-two .content{
    background-color: white;
    width: 89%;
    padding: 0px 10px;
}
header #header-two .content i, header #header-two .content h2{
    color: var(--consul-gray);
}
header #header-two .content img{
    width: 45px;
    height: 45px;
}
header #header-two .content nav{
    display: flex;
    align-items: center;
    gap: 15px;
}
header #header-two .content nav h2{
    cursor: pointer;
    transition: all .2s;

    &:hover{
        color: var(--consul-blue);
    }
}
header #header-two .content nav h2 i{
    transition: all .2s;
}
header #header-two .content nav a:nth-child(3){
    position: relative;
}
header #header-two .content nav a:nth-child(3):hover i{
    color: var(--consul-blue);
    transform: rotate(180deg);
}
header #header-two .content nav a:nth-child(3):hover #services-box{
    height: 190px;
}
header #header-two .content nav a:nth-child(3):hover #services-box p{
    opacity: 100%;
}
header #header-two .content nav a:nth-child(3) #services-box p:hover{
    background-color: var(--consul-gray);
}
header #header-two .content nav a:nth-child(3) #services-box{
    background-color: var(--consul-blue);
    transition: all .2s;
    width: 230px;
    height: 0px;
    position: absolute;
    left: -142px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
header #header-two .content nav a:nth-child(3) #services-box p{
    opacity: 0%;
    width: 100%;
    height: 100%;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*endregion*/

/*region*/

main{
    height: 87vh;
    width: 100%;
    background-image: url(../images/background.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: top center;
}
main .content{
    align-items: end;
    height: 100%;
}
main .content #main-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}
main .content #main-message img{
    margin-bottom: 20px;
}
main .content #main-message button{
    margin-top: 20px;
}
#form-header{
    background-color: var(--consul-blue);
    width: 32%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*endregion*/

/*region*/

#nav-sidebar{
    background-color: var(--consul-blue);
    position: fixed;
    width: 45px;
    top: 0;
    right: 0;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    height: 30vh;
}
#nav-sidebar a{
    text-decoration: none;
}
#nav-sidebar img{
    width: 30px;
    height: 30px;
}

/*endregion*/

/*region*/

#main-screen-2 .content{
    height: 100%;
}
#main-screen-2 .content #form-message{
    width: 47%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
#main-screen-2 .content #form-message #form-message-numbers{
    margin-top: 20px;
    display: flex;
}
#main-screen-2 .content #form-message #form-message-numbers img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
#separator{
    background-color: var(--consul-gray);
    height: 100%;
    width: 2px;
    margin: 0px 20px;
}
#main-screen-2 .content #form-content{
    width: 32%;
}
#main-screen-2 .content #form-content .content{
    background-color: white;
    width: 100%;
    height: 73%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    box-shadow: 0px 2px 20px rgb(104, 104, 104);
}
#main-screen-2 .content #form-content .content p{
    width: 90%;
    height: 30px;
}
#main-screen-2 .content #form-content .content i{
    color: var(--consul-gray);
}
#main-screen-2 .content #form-content .content input, #main-screen-2 .content #form-content .content select{
    width: 84%;
    height: 30px;
    background-color: white;
    border: none;
    padding: 5px 10px;
    color: black;
    border: 2px solid var(--consul-gray);
    margin-bottom: 20px;
}
#main-screen-2 .content #form-content .content select{
    padding: 0;
}
#main-screen-2 .content #form-content .content option{
    color: black;
}
#main-screen-2 .content #form-content .content input:focus, #main-screen-2 .content #form-content .content select:focus{
    outline: none;
    border: 2px solid var(--consul-blue);
}
#main-screen-2 .content #form-content .content #form-button-container{
    width: 83%;
}

/*endregion*/

/*region*/

#services .content{
    align-items: center;
    flex-direction: column;
}
#services .content #services-title a{
    color: var(--consul-blue);
}
#services .content  #services-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#services .content  #services-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#services .content  #services-cards .card{
    width: 170px;
    height: 170px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.212);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}
#services .content  #services-cards .card h3{
    text-align: center;
    color: black;
}
#services .content  #services-cards .card img{
    width: 80px;
    height: 80px;
}
#services-message-container{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: var(--consul-blue);
}
#services-message-container h3, #services-message-container p{
    color: white;
}
#services-message-container #services-message-image{
    width: 60%;
    height: 100%;
}
#services-message-container #services-message-content{
    height: 90%;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}
#services-message-container #services-message-content h3, #services-message-container #services-message-content p{
    margin-bottom: 10px;
    width: 100%;
}
#services-message-container #services-message-content p{
    font-size: 19.5px;
}
#services-message-container #services-message-image img{
    width: 100%;
    height: 100%;
}

/*endregion*/

/*region*/

#about-us .content{
    flex-direction: column;
    align-items: start;
}
#about-us .content #about-us-title{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
#about-us .content #text-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
#about-us .content #text-container #text-content{
    width: 50%;
}
#about-us .content #text-container #text-images{
    width: 45%;
    height: 90%;
}
#about-us .content #text-container #text-images img{
    width: 100%;
    height: 100%;
}
#about-us .content #text-container h2{
    font-size: 45px;
}
#about-us .content #text-container p{
    margin-top: 15px;
    display: flex;
    align-items: center;
}
#about-us .content #text-container p:last-child{
    margin-top: 0px;
}
#about-us .content #text-container i{
    color: var(--consul-blue);
    font-size: 25px;
    margin-right: 10px;
}
#about-us .content #text-container img{
    width: 140px;
    height: 60px;
    margin-top: 30px;
}

/*endregion*/

/*region*/

#popular .content{
    flex-direction: column;
}
#popular .content #popular-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#popular .content #popular-cards-mobile{
    display: none;
}
#popular .content #popular-cards{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#popular .content #popular-cards .card{
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 2px 20px rgba(104, 104, 104, 0.349);
    display: flex;
    align-items: center;
    justify-content: center;
}
#popular .content #popular-cards .card .content{
    justify-content: space-around;
    width: 85%;
    align-items: end;
}
#popular .content #popular-cards .card .content p, #popular .content #popular-cards .card .content h3{
    width: 100%;
}
#popular .content #popular-cards .card .content h3{
    color: black;
}
#popular .content #popular-cards .card .content i{
    color: var(--consul-blue);
}
#popular .content #popular-cards .card:nth-child(2){
    margin-top: 80px;
}

/*endregion*/

/*region*/

#user-comment{
    width: 50%;
    height: 70%;
    background-color: var(--consul-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
#user-comment .content{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#user-comment .content img{
    width: 80px;
    height: 80px;
}
#user-comment .content h3, #user-comment .content p{
    color: white;
}
#user-comment .content p{
    text-align: center;
}
#comment-content{
    width: 50%;
    height: 70%;
    background-color: var(--consul-gray);
}

/*endregion*/

/*region*/

footer{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .content{
    flex-direction: column;
}
footer .content h3, footer .content #footer-header .logo p{
    color: black;
}
footer .content i{
    color: var(--consul-blue);
    font-size: 30px;
    cursor: pointer;
}
footer .content #footer-header{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .content #footer-header #footer-buttons .button-two{
    background-color: var(--consul-blue);
    color: white;
    border: 4px solid white;
}
footer .content #footer-header #footer-buttons .button-two:hover{
    background-color: white;
    color: var(--consul-blue);
    border: 4px solid var(--consul-blue);
}
footer .content #footer-body{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
footer .content #footer-body div{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 80%;
    width: 40%;
}
footer .content #footer-body div:nth-child(2){
    width: 32%;
}
footer .content #footer-body div p{
    font-size: 18px;
    color: var(--consul-gray);
    margin-top: 20px;
}
footer .content #footer-body div h3{
    margin-top: 20px;
}
footer .content #footer-body div span{
    margin-top: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .content #footer-body #footer-query span{
    margin: 0;
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#footer-bar{
    background-color: var(--consul-blue);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer-bar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer-bar .content span{
    width: 40px;
    height: 40px;
    background-color: var(--consul-blue);
    border: 4px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#footer-bar .content span i{
    font-size: 25px;
}

/*endregion*/